.form{
    display: block;
    color: red;
}
.form span{
    text-align: center;
}
.form span input{
    text-align: center;
    border-top: none;
    border-left: none;
    border-right: none;
    padding-right: 50px;
    padding-left: 50px;
}
.divForm{
    text-align: center;
}