.form{
    display: none;
}
.form.active{
    display: block;
}
.buttons{
    display: block;
}
.buttons.active{
    display: none;
}
.formDel{
    display: none;
}
.formDel.active{
    display: block;
}
.printUser{
    display: none;
}
.printUser.active{
    display: block;
}